@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informacje";
}
<h1>@ViewData["Title"]</h1>

<p class="pinfo">Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>

<p class="pinfo">Mapa typu torus</p>

<p class="pinfo">Sekwencja ruchów <span class="cmove">ulrldduuulllurrruddd</span></p>

